
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory game</title>
    <link href="memostyle.css" rel="stylesheet">
</head>
<body>
    <h1>Memory Game</h1>
    <h4>
        Guidelines:You need to match the two cards of same design and you score!!! lets play!!!
    </h4>
    <h1 class="won">Turn Won!!!</h1>
    <h2 class="turn">Turn for:Blue</h2>
    <h3 class="red">Red Score:0</h3>
    <h3 class="blue">Blue Score:0</h3>
    <div class="game">
    <div class="mygame">

        <div class="row1">
        <div class="box box1"><img src="Images/card.jpg" class="img img1"></div>
        <div class="box box2"><img src="Images/card.jpg" class=" img img2"></div>
        <div class="box box3"><img src="Images/card.jpg" class="img img3"></div>
        <div class="box box4"><img src="Images/card.jpg" class="img img4"></div>
        <div class="box box5"><img src="Images/card.jpg" class="img img5"></div>
        </div>

        <div class="row2">
        <div class="box box6"><img src="Images/card.jpg" class="img img6"></div>
        <div class="box box7"><img src="Images/card.jpg" class="img img7"></div>
        <div class="box box8"><img src="Images/card.jpg" class="img img8"></div>
        <div class="box box9"><img src="Images/card.jpg" class="img img9"></div>
        <div class="box box10"><img src="Images/card.jpg" class="img img10"></div>
        </div>

        <div class="row3">
        <div class="box box11"><img src="Images/card.jpg" class="img img11"></div>
        <div class="box box12"><img src="Images/card.jpg" class="img img12"></div>
        <div class="box box13"><img src="Images/card.jpg" class="img img13"></div>
        <div class="box box14"><img src="Images/card.jpg" class="img img14"></div>
        <div class="box box15"><img src="Images/card.jpg" class="img img15"></div>
        </div>

        <div class="row4">
        <div class="box box16"><img src="Images/card.jpg" class="img img16"></div>
        <div class="box box17"><img src="Images/card.jpg" class="img img17"></div>
        <div class="box box18"><img src="Images/card.jpg" class="img img18"></div>
        <div class="box box19"><img src="Images/card.jpg" class="img img19"></div>
        <div class="box box20"><img src="Images/card.jpg" class="img img20"></div>
        </div>

        <div class="row5">
        <div class="box box21"><img src="Images/card.jpg" class="img img21"></div>
        <div class="box box22"><img src="Images/card.jpg" class="img img22"></div>
        <div class="box box23"><img src="Images/card.jpg" class="img img23"></div>
        <div class="box box24"><img src="Images/card.jpg" class="img img24"></div>
        <div class="box box25"><img src="Images/card.jpg" class="img img25"></div>
        </div>

        <div class="row6">
        <div class="box box26"><img src="Images/card.jpg" class="img img26"></div>
        <div class="box box27"><img src="Images/card.jpg" class="img img27"></div>
        <div class="box box28"><img src="Images/card.jpg" class="img img28"></div>
        <div class="box box29"><img src="Images/card.jpg" class="img img29"></div>
        <div class="box box30"><img src="Images/card.jpg" class="img img30"></div>
        </div>
    </div>
    </div>
    
    <script src="memoscript.js"></script>    
</body>
