
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tic Tac Toe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="tictacstyle.css">
  </head>

  <body class="mt-5">

    <nav class="navbar border border-5 rounded border border-warning-subtle container-sm container-md container-lg">
        <div class="container-sm container-md container-lg">
          <a class="navbar" href="#">
            <img src="Images/tic.jpeg" alt="Logo" width="50" height="30" class="d-inline-block align-text-top">
            Tic Tac Toe
          </a>
        </div>
      </nav>

      
      <div class="moreinfo container">
        <h3>Welcome!!!</h3>
        <div>
          <h5 class="turn">Turn for X</h5>
           <button  type="button"id="reset" class="btn btn-warning">Reset</button>
        </div>
        <div class="imagebox">
            <image class="imge" src="Images/milkmocha.gif"></image>
        </div>

        <div class="Game container-sm container-md container-lg ">
          <div class="gamebox">
              <div class="row1">
                  <div class=" box box1 bt-0 bl-0"><span class="boxtext"></span></div>
                  <div class="box box2 bt-0"><span class="boxtext"></span></div>
                  <div class=" box box3 bt-0 br-0"><span class="boxtext"></span></div>
              </div>
              <div class="row2">
                  <div class="box box4 bl-0"><span class="boxtext"></span></span></div>
                  <div class="box box5"><span class="boxtext"></span></div>
                  <div class="box box6 br-0"><span class="boxtext"></span></div>
              </div>
              <div class="row3">
                  <div class=" box box7 bl-0 bb-0"><span class="boxtext"></span></div>
                  <div class=" box box8 bb-0"><span class="boxtext"></span></div>
                  <div class=" box box9 br-0 bb-0"><span class="boxtext"></span></div>
              </div>
              
          </div>
        </div>
    </div>

  <script src="tictacscript.js"></script>

  </body>
